@import "reset.css";
@import "components/status-bar.css";
@import "var.css";
@import "screens/login.css";
@import "components/badge.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "screens/friends.css";
@import "components/user-components.css";
@import "screens/find.css";
@import "screens/more.css";

@import "components/icon-row.css";
@import "screens/settings.css";
@import "components/alt-screen-header.css";
@import "screens/chatting-room.css";

@import "components/no-mobile.css";


body {
    color: #2e363e;
    background-color: white;
    height: 200vh;
    width: 100vw;
}
#login-main {
    display: block;
    position: sticky;
    top: 40px;
}

.welcome-header {
    margin-top:n93px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.welcome-header h4 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}
.welcome-header p {
    width: 50%;
    opacity: 0.7;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}